.images {
  display: flex;
  justify-content: center;
  justify-content: space;
  margin: 50px;
  transition: all 1.8s ease-in;
  gap: 10px;
}
.image-container {
    width: 100px;
    height: 720px;
    object-fit: cover;
    border-radius: 25px;
    gap: 20px;
    -webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .8s ease-in-out;
	transition: .8s ease-in-out;

}
.image-container:hover {
    transition: width 2s;
    width: 70%;
    -webkit-filter: sepia(0);
	filter: sepia(0);
    
}
