.bubble{
    display: flex;
    background-color: coral;
    margin: 50px;
    padding: 50px;
    justify-content: center;

}
.bubble > div {
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
}
.dog {
    width: auto;
    height: 50%;
    margin: 20px;
    padding: 20px;
}
dhsh
