.pink {
  background-color: pink;
  width: 250px;
  position: fixed;
  left: 200px;
}
.blue {
  color: blue;
}
.gelb {
  background-color: rgba(48, 65, 23, 0.3);
  width: 450px;
  height: 5000px;
}
.clear-float {
  clear: both;
}